input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#grid {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid #000;
}

#grid td {
    padding: 0;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;  
}

#grid input {
    color: #000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
    background-color: #FFF;
    outline: none;
}

#grid input:disabled {
    background-color: #EEE;
}

#grid tr:nth-child(3n+0) {
    border-bottom: 2px solid #000;
}

#grid td:nth-child(3n+0) {
    border-right: 2px solid #000;
}
